.row.justify-content-center {
    background-color: rgba(156, 148, 148, 0.602);
    padding-top: 20px;
    padding-bottom: 20px;
}

strong.strong1 {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

strong.strong2 {
    font-size: 20px;
}
